<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% sizes.find_each do |size| %>
      <tr>
        <td> <%= size.name %></td>
        <td> <%= number_to_currency(size.price) %></td>
        <td> <%= link_to 'Assign', account_product_assign_sizes_path(account_id: product.account_id, product_id: product.id, id: size.id), method: :post %> </td>
        <td> <%= link_to 'Delete', size_path(account_id: product.account_id, product_id: product.id, id: size.id), method: :delete %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
