<%= render partial: 'layouts/header', locals: { account: @account, order: @order } %>
<div class="container">
  <%= link_to 'Return to Order', account_order_path(@account, @order), class: 'btn btn-outline-secondary add-to-cart-button' %>
  <%= render "shopping_cart" %>

  <div class="row justify-content-end">
    <%= link_to 'Check Out', account_order_shipping_details_path(@account, @order), class: 'btn btn-outline-secondary add-to-cart-button' %>
  </div>
  <div class="row">
    <br>
    <br>
  </div>
</div>
