/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "normalize";
 @import "bootstrap";
 @import "font-awesome";

 body {
   margin-top: 60px;
 }

 .jumbotron-white {
   background-color: #FFFFFF;
 }

 .navbar-white {
   background-color: transparent;
 }

 .header-logo-image {
   width: 120px;
 }

 .cart-image {
   color: #E70D2F;
 }

 .cart-image:hover {
   color: #E70D2F;
   text-decoration: none;
   font-weight: bold;
 }

.color-circle {
	width: 25px;
	height: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
 }

.new-order-item p {
  margin: 0px;
}

.new-order-item {
  margin-top: 100px;
}

.new-order-item-image {
  margin-right: 75px;
}

.new-order-item-header {
  padding-bottom: 15px;
}

.add-to-cart-button {
  background-color: #E70D2F;
  color: white;

}

.add-to-cart-button:hover {
  background-color: white;
  color: #E70D2F;
  border-color: #E70D2F;
  border-radius: 3px;
}

.product-box {
  height: 390px;
  width: 300px;
  margin-bottom: 100px;
}

.product-box-button {
  margin: 25px;
}

.product-block-image {
  height: 215px;
  width: 215px;
}

.quantity-field {
  width: 100px;
}

vr {
  margin-left: 100px;
  margin-right: 100px;
  border: 0;
  border-left: 1px solid #cccccc;
  display: inline-block;
  vertical-align: bottom;
}

.shipping_order_detail {
  margin-top: 15px;
  margin-bottom: 15px;
}

.shipping_order_image {
  height: 100px;
  width: 100px;
  border: 3px;
}

.billing_order_detail {
  margin-bottom: 10px;
  border: 1px solid #E6E6E6;
  padding: 20px;
}

.product_logo_image {
  height: 100px;
  width: 100px;
}
