<div class="container account-header">
  <div class="d-flex justify-content-start">
      <div class="col-2 p-2">
        <%= image_tag(account.logo_url(:thumb), class: 'd-flex align-self-center' )%>
      </div>
      <div class="col-3 p-3">
        <h1><%= account.business_name %></h1>
        <h3 class="text-muted">Spring Promo 2017</h3>
      </div>
      <div class="col-2 ml-auto p-3">
          <%= link_to '', cart_path(order_id: order), class: 'fa fa-briefcase fa-3x fa-fw' %>
          <%= number_to_currency(order.subtotal) %>
      </div>
  </div>
</div>
